@import url(https://fonts.googleapis.com/css?family=Open+Sans|Electrolize);
/* line 5, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib64/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../sass/common/_form.scss */
button,
input[type=submit],
input[type=button],
input[type=reset],
.button {
  border: 2px solid #332222;
  background-color: #704b4b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwNTU1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYxNDE0MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #805555), color-stop(100%, #614141));
  background-image: -moz-linear-gradient(top, #805555, #614141);
  background-image: -webkit-linear-gradient(top, #805555, #614141);
  background-image: linear-gradient(to bottom, #805555, #614141);
  color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 80px;
  font-weight: normal;
  font-size: 1em;
  height: 34px;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-appearance: none;
  cursor: pointer;
  text-align: center;
}

/* line 36, ../../../sass/common/_form.scss */
button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
.button:hover {
  border: 2px solid #422c2c;
  background-color: #805555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmNWY1ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwNGI0YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8f5f5f), color-stop(100%, #704b4b));
  background-image: -moz-linear-gradient(top, #8f5f5f, #704b4b);
  background-image: -webkit-linear-gradient(top, #8f5f5f, #704b4b);
  background-image: linear-gradient(to bottom, #8f5f5f, #704b4b);
  color: white;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* line 46, ../../../sass/common/_form.scss */
input[type=submit].disabled,
input[type=submit].disabled:hover,
button[type=submit].disabled,
button[type=submit].disabled:hover,
button.disabled,
button.disabled:hover,
.button.disabled,
.button.disabled:hover {
  border: 2px solid #666666;
  background-color: #999;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2YTZhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a6a6a6), color-stop(100%, #8c8c8c));
  background-image: -moz-linear-gradient(top, #a6a6a6, #8c8c8c);
  background-image: -webkit-linear-gradient(top, #a6a6a6, #8c8c8c);
  background-image: linear-gradient(to bottom, #a6a6a6, #8c8c8c);
  color: #DDD;
  cursor: default;
  font-style: italic;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 61, ../../../sass/common/_form.scss */
button.secondary,
input[type=submit].secondary,
input[type=button].secondary,
input[type=reset].secondary,
.button.secondary {
  border: 2px solid #bbbbbb;
  background-color: #EEE;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background-image: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background-image: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  color: #111;
}

/* line 70, ../../../sass/common/_form.scss */
button.secondary:hover,
.button.secondary:hover,
input[type=submit].secondary:hover,
input[type=button].secondary:hover,
input[type=reset].secondary:hover {
  border: 2px solid #c8c8c8;
  background-color: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  color: #1e1e1e;
}

/* line 79, ../../../sass/common/_form.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=time],
input[type=search],
textarea {
  -moz-box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
  -webkit-box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
  box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 7px;
  padding: 0px 7px;
  border: 1px solid #CCC;
  font-family: inherit;
  font-size: 1em;
}

/* line 96, ../../../sass/common/_form.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=time],
input[type=search] {
  height: 2em;
}

/* line 106, ../../../sass/common/_form.scss */
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=search]:focus {
  border: 1px solid #CCC;
  -moz-box-shadow: 0 0 8px #a0c1dc;
  -webkit-box-shadow: 0 0 8px #a0c1dc;
  box-shadow: 0 0 8px #a0c1dc;
}

/* line 117, ../../../sass/common/_form.scss */
input[type=text]:disabled,
select:disabled {
  background-color: #EBEBE4;
  color: #888;
  font-style: italic;
}

/* line 8, ../../../sass/common/_form.scss */
::-webkit-input-placeholder {
  color: #AAA;
}

/* line 9, ../../../sass/common/_form.scss */
:-moz-placeholder {
  color: #AAA;
}

/* line 10, ../../../sass/common/_form.scss */
::-moz-placeholder {
  color: #AAA;
}

/* line 11, ../../../sass/common/_form.scss */
:-ms-input-placeholder {
  color: #AAA;
}

/* line 129, ../../../sass/common/_form.scss */
select.selecttitle {
  color: #AAA;
}

/* line 134, ../../../sass/common/_form.scss */
textarea {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* line 140, ../../../sass/common/_form.scss */
input[type=search] {
  -webkit-appearance: textfield;
}

/* line 146, ../../../sass/common/_form.scss */
select {
  -moz-box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
  -webkit-box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
  box-shadow: inset 0 1px 0 #EEE, white 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 7px;
  padding: 5px 5px 4px 5px;
  border: 1px solid #CCC;
  font-family: inherit;
  font-size: 1em;
  height: 31px;
  line-height: 31px;
}
/* line 158, ../../../sass/common/_form.scss */
select option {
  font-family: inherit;
  font-size: 1em;
}

/* line 164, ../../../sass/common/_form.scss */
form p.errorMessage {
  margin-top: -8px;
  margin-bottom: 16px;
  color: #D00;
}

/* line 177, ../../../sass/common/_form.scss */
form {
  width: 100%;
  max-width: 100%;
}
/* line 181, ../../../sass/common/_form.scss */
form h5 {
  margin-bottom: 0.55em;
  padding-top: 0.4em;
}
/* line 186, ../../../sass/common/_form.scss */
form div.group {
  padding: 0.5em 0;
  margin: 1em 0;
}
/* line 191, ../../../sass/common/_form.scss */
form div.buttonGroup {
  margin-top: 3em;
}
/* line 195, ../../../sass/common/_form.scss */
form div.addressFinderField {
  background: #eef;
  border: #CCC 1px solid;
  padding: 1em 0;
  margin-bottom: 2em;
}
/* line 201, ../../../sass/common/_form.scss */
form div.addressFinderField input[type=text] {
  border: #999999 1px solid;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 207, ../../../sass/common/_form.scss */
form ul.addressFinderResults {
  margin-left: 41%;
  margin-top: -1em;
  width: 54%;
  height: 191px;
  min-height: 191px;
  max-height: 191px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafe;
  border: #d9d9d9 1px solid;
}
/* line 222, ../../../sass/common/_form.scss */
form ul.addressFinderResults li {
  font-size: 0.9em;
  background-image: none;
  padding: 0 0 0 0.5em;
  margin: 0;
  line-height: 27px;
  height: 27px;
  max-height: 27px;
  background-color: #fafafe;
  border-bottom: #d9d9d9 1px solid;
  color: #5e5e5e;
  cursor: pointer;
  overflow: hidden;
}
/* line 237, ../../../sass/common/_form.scss */
form ul.addressFinderResults li.message {
  width: 100%;
  font-size: 1em;
  padding: 1.2em;
  cursor: default;
  display: block;
  text-align: center;
  overflow: visible;
  border: none;
}
/* line 248, ../../../sass/common/_form.scss */
form ul.addressFinderResults li.selected {
  background-color: #9dc2f7;
  color: #111;
}
/* line 254, ../../../sass/common/_form.scss */
form div.field {
  margin-bottom: 1em;
}
/* line 257, ../../../sass/common/_form.scss */
form div.field div.line {
  margin-bottom: 0.5em;
  display: block;
}
/* line 262, ../../../sass/common/_form.scss */
form div.field label {
  width: 40%;
  display: inline-block;
  margin-right: 1%;
  text-align: right;
  vertical-align: top;
  padding-top: 0.55em;
}
/* line 271, ../../../sass/common/_form.scss */
form div.field input[type=text],
form div.field input[type=password],
form div.field input[type=email],
form div.field select,
form div.field textarea,
form div.field p.note,
form div.field p.errorMessage {
  width: 54%;
  display: inline-block;
}
/* line 282, ../../../sass/common/_form.scss */
form div.field textarea {
  padding-top: 6px;
  min-height: 4.6em;
}
/* line 287, ../../../sass/common/_form.scss */
form div.field input.checkboxfield {
  margin-top: 0.75em;
}
/* line 291, ../../../sass/common/_form.scss */
form div.field span.yearsandmonths, form div.field span.hoursandminutes {
  display: inline-block;
  width: 27%;
  max-width: 8em;
}
/* line 297, ../../../sass/common/_form.scss */
form div.field select.yearsandmonths, form div.field select.hoursandminutes {
  width: 4em;
  margin-right: 0.1em;
}
/* line 303, ../../../sass/common/_form.scss */
form div.radiogroup,
form div.checkboxgroup {
  display: inline-block;
  width: 54%;
  padding-top: 0.3em;
}
/* line 309, ../../../sass/common/_form.scss */
form div.radiogroup input,
form div.checkboxgroup input {
  margin-right: 0.5em;
  vertical-align: top;
  margin-top: 0.4em;
  display: inline-block;
}
/* line 316, ../../../sass/common/_form.scss */
form div.radiogroup label,
form div.checkboxgroup label {
  display: block;
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.5em;
  width: auto;
}
/* line 328, ../../../sass/common/_form.scss */
form select.date, form select.time {
  vertical-align: top;
  width: auto;
  margin-right: 0.25em;
}
/* line 334, ../../../sass/common/_form.scss */
form select.date.day {
  width: 11%;
  max-width: 11%;
  margin-right: 1%;
}
/* line 340, ../../../sass/common/_form.scss */
form select.date.month {
  width: 26%;
  max-width: 26%;
  margin-right: 1%;
}
/* line 346, ../../../sass/common/_form.scss */
form select.date.year {
  width: 15%;
  max-width: 15%;
}
/* line 351, ../../../sass/common/_form.scss */
form select.time {
  width: 30%;
  max-width: 6em;
  margin-right: 0;
}
/* line 358, ../../../sass/common/_form.scss */
form div.buttonGroup input[type=submit],
form div.buttonGroup input[type=reset],
form div.buttonGroup button {
  margin-right: 0.5em;
}
/* line 365, ../../../sass/common/_form.scss */
form input[type=text].error,
form input[type=email].error,
form input[type=date].error,
form input[type=time].error,
form select.error,
form div.radiogroup.error,
form input[type=password].error,
form div.checkboxgroup.error,
form textarea.error {
  border: 2px solid #f00;
}
/* line 377, ../../../sass/common/_form.scss */
form .aligned,
form p.note,
form p.errorMessage,
form div.buttonGroup {
  margin-left: 41%;
}
/* line 384, ../../../sass/common/_form.scss */
form select.error {
  height: 32px;
  line-height: 32px;
  padding-top: 4px;
}
/* line 390, ../../../sass/common/_form.scss */
form span.required {
  display: none;
}
/* line 395, ../../../sass/common/_form.scss */
form div.field.disabled label {
  color: #888;
  font-style: italic;
}
/* line 401, ../../../sass/common/_form.scss */
form div.dateandtimefield {
  margin-left: 41%;
  width: 54%;
  margin-top: 0.5em;
}
/* line 406, ../../../sass/common/_form.scss */
form div.dateandtimefield span {
  display: inline-block;
  margin: 0 1%;
  line-height: 1.95em;
}
/* line 413, ../../../sass/common/_form.scss */
form p.readonly {
  width: 54%;
  margin-bottom: 0;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  padding-top: 0.3em;
}
/* line 422, ../../../sass/common/_form.scss */
form p.note {
  font-size: 0.85em;
  color: #888;
  margin-bottom: 0em;
}
/* line 428, ../../../sass/common/_form.scss */
form p.errorMessage {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

/* line 436, ../../../sass/common/_form.scss */
div.form {
  width: 100%;
  max-width: 100%;
}
/* line 440, ../../../sass/common/_form.scss */
div.form div.field {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
/* line 446, ../../../sass/common/_form.scss */
div.form p.label {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin-right: 2%;
}
/* line 453, ../../../sass/common/_form.scss */
div.form p.value {
  vertical-align: top;
  font-weight: bold;
  display: inline-block;
  width: 70%;
}

/* line 10, assetic_compassDIBqpj.scss */
html {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-collapse: collapse;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

/* line 24, assetic_compassDIBqpj.scss */
body {
  display: block;
  min-height: 100%;
}

/* line 29, assetic_compassDIBqpj.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, assetic_compassDIBqpj.scss */
em {
  font-style: italic;
}

/* line 39, assetic_compassDIBqpj.scss */
strong {
  font-weight: bold;
}

/* line 43, assetic_compassDIBqpj.scss */
h2 {
  font-family: 'Electrolize';
  font-size: 3em;
  color: #111;
  margin-bottom: 0.66em;
}
@media (max-width: 340px) {
  /* line 43, assetic_compassDIBqpj.scss */
  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}

/* line 55, assetic_compassDIBqpj.scss */
h3 {
  font-family: 'Electrolize';
  font-size: 2em;
  color: #111;
  margin-bottom: 1em;
}

/* line 62, assetic_compassDIBqpj.scss */
h4 {
  font-size: 1.3em;
  color: #111;
  margin-bottom: 0.66em;
}

/* line 68, assetic_compassDIBqpj.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 73, assetic_compassDIBqpj.scss */
.error {
  color: #F00;
}

/* line 77, assetic_compassDIBqpj.scss */
a {
  color: #006;
}

/* line 81, assetic_compassDIBqpj.scss */
ul {
  margin: 0.75em 0;
}
/* line 84, assetic_compassDIBqpj.scss */
ul li {
  list-style-type: square;
  margin-bottom: 0.75em;
  margin-left: 20px;
}

/* line 3, assetic_compassUR9wmh.scss */
body {
  margin-top: 50px;
}

/* line 7, assetic_compassUR9wmh.scss */
header#PageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  background: #111;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
/* line 18, assetic_compassUR9wmh.scss */
header#PageHeader h1, header#PageHeader a {
  color: white;
  font-family: 'Electrolize';
}
/* line 23, assetic_compassUR9wmh.scss */
header#PageHeader a {
  text-decoration: none;
}
/* line 27, assetic_compassUR9wmh.scss */
header#PageHeader h1 {
  display: inline-block;
  float: left;
  background: url(/images/logo.png) center left no-repeat;
  background-size: 24px 24px;
  padding-left: 32px;
  /* To push the page edit controls right */
  min-width: 25%;
}
/* line 37, assetic_compassUR9wmh.scss */
header#PageHeader nav {
  display: inline-block;
  float: right;
}
/* line 41, assetic_compassUR9wmh.scss */
header#PageHeader nav a {
  margin-left: 2em;
}

/* Hide the default create.js / midgard toolbar */
/* line 48, assetic_compassUR9wmh.scss */
div.create-ui-logo, div.create-ui-toolbar-wrapper, div.midgardNotifications-container {
  display: none;
}

/* line 4, assetic_compassqc5x0g.scss */
footer {
  background: #444;
  border-top: 4px solid #aaaaaa;
  padding: 2em 0;
}
/* line 9, assetic_compassqc5x0g.scss */
footer nav {
  max-width: 700px;
  margin: 0 auto;
}
/* line 14, assetic_compassqc5x0g.scss */
footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
  display: block;
}
/* line 21, assetic_compassqc5x0g.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 27, assetic_compassqc5x0g.scss */
body.sidebar footer {
  margin-left: 25%;
}
/* line 30, assetic_compassqc5x0g.scss */
body.sidebar footer nav {
  margin: 0;
  padding-left: 2em;
}

/* line 4, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
.editmode {
  display: none;
}

/* line 8, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
header#PageHeader nav div#PageControl {
  height: 100%;
  float: left;
}

/* line 13, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
header#PageHeader nav div#PageControl a,
nav.sidemenu div.editmode a.addpage {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 22px;
  display: inline-block;
  margin-right: 32px;
  margin-left: 0;
}

/* line 24, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
nav.sidemenu form.popup {
  display: none;
}

/* line 28, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
a#PageSettings-link {
  background-image: url(/images/common/icons/gear-white.svg);
}

/* line 32, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
a.addpage {
  background-image: url(/images/common/icons/plus-white.svg);
}

/* line 36, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
a#DeletePage-link {
  background-image: url(/images/common/icons/bin-white.svg);
}

/* line 40, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
header#PageHeader.editing {
  background: #353 url(/images/background/swirl-green.png);
  border-bottom: 4px solid #111;
}
/* line 44, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
header#PageHeader.editing #UserProfileLink {
  display: none;
}

/* The borders of all editable items */
/* line 50, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
[contenteditable="true"] {
  outline: 1px dashed #ACA;
}

/* line 54, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
form.popup {
  display: none;
  background: #fafafa;
  position: absolute;
  border: 1px solid #333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 100;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  padding: 1em;
}
/* line 67, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
form.popup a.close {
  background-image: url(/images/common/icons/close-icon-bw.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: -12px;
  top: -12px;
  margin: 0;
}
/* line 82, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
form.popup h3 {
  margin-top: 0;
}
/* line 91, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
form.popup div, form.popup p {
  margin-bottom: 0.5em;
}

/* line 101, ../../../src/AppBundle/Resources/assets/css/include/_editmode.scss */
#DeletePage-form button {
  margin-left: 0%;
}

/* line 6, assetic_compassKBybsj.scss */
html {
  background-color: #444;
}

/* line 10, assetic_compassKBybsj.scss */
body {
  background-color: #fff;
  background-image: url(/images/json_transformed.png);
  background-repeat: no-repeat;
  background-position: -65px center;
}

/* line 17, assetic_compassKBybsj.scss */
div.body {
  max-width: 700px;
  min-height: 500px;
  margin: 0 auto;
  padding: 4em 0em;
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 700px) {
  /* line 17, assetic_compassKBybsj.scss */
  div.body {
    padding: 2em 1em;
  }
}

/* line 29, assetic_compassKBybsj.scss */
div.flash {
  display: inline-block;
  position: fixed;
  top: 60px;
  left: 26%;
  width: 70%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0.5em 1em;
}
/* line 38, assetic_compassKBybsj.scss */
div.flash a {
  float: right;
}

/* line 43, assetic_compassKBybsj.scss */
div.flash.notice {
  background: rgba(100, 200, 100, 0.5);
}

/* line 47, assetic_compassKBybsj.scss */
div.flash.error {
  background: rgba(200, 100, 100, 0.5);
}

/* line 51, assetic_compassKBybsj.scss */
article.content {
  display: inline-block;
  margin-top: 50px;
  margin-left: 25%;
  width: 75%;
  padding: 5%;
  max-width: 700px;
}
/* line 59, assetic_compassKBybsj.scss */
article.content div.content {
  margin-bottom: 2em;
}
/* line 62, assetic_compassKBybsj.scss */
article.content div.content p, article.content div.content div, article.content div.content ul {
  margin-bottom: 1em;
}
/* line 66, assetic_compassKBybsj.scss */
article.content div.content p, article.content div.content li {
  font-size: 1.2em;
  line-height: 1.6em;
}
/* line 72, assetic_compassKBybsj.scss */
article.content div.content div {
  margin: 1em 0;
  font-size: 0.8em;
  color: #242;
}
/* line 78, assetic_compassKBybsj.scss */
article.content div.content div.element {
  display: none;
}
/* line 82, assetic_compassKBybsj.scss */
article.content div.content h3 {
  margin-top: 2em;
}
/* line 88, assetic_compassKBybsj.scss */
article.content div.content[contenteditable=true] div.element {
  display: block;
}
/* line 94, assetic_compassKBybsj.scss */
article.content nav.menu {
  margin-bottom: 2em;
}

/* line 99, assetic_compassKBybsj.scss */
aside.comments {
  width: 100%;
  display: inline-block;
  margin-top: 3em;
}
/* line 104, assetic_compassKBybsj.scss */
aside.comments h3 {
  padding-top: 0.5em;
  border-top: #242 2px solid;
}
/* line 109, assetic_compassKBybsj.scss */
aside.comments form#CommentsForm {
  max-width: none;
}
/* line 112, assetic_compassKBybsj.scss */
aside.comments form#CommentsForm p {
  margin-bottom: 1em;
}
/* line 116, assetic_compassKBybsj.scss */
aside.comments form#CommentsForm label {
  display: none;
}
/* line 120, assetic_compassKBybsj.scss */
aside.comments form#CommentsForm textarea, aside.comments form#CommentsForm div.cke {
  width: 100%;
  min-height: 10em;
  margin: 0 0 1em 0;
}

/* line 128, assetic_compassKBybsj.scss */
div.comment {
  /* margin: -0.5em -0.5em 2.5em -0.5em;*/
  margin-bottom: 2em;
  padding: 1em;
  /* 0.5em 1em 0.5em; */
  background: #eee;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 136, assetic_compassKBybsj.scss */
div.comment h4 span {
  display: inline-block;
  color: #242;
  font-size: 0.6em;
  margin-left: 1em;
}
/* line 143, assetic_compassKBybsj.scss */
div.comment h4 a {
  color: #111;
  text-decoration: none;
}
/* line 148, assetic_compassKBybsj.scss */
div.comment h4 a:hover {
  text-decoration: underline;
}
/* line 152, assetic_compassKBybsj.scss */
div.comment h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.66em;
  margin-bottom: 0.66em;
}
/* line 158, assetic_compassKBybsj.scss */
div.comment span.deleted {
  float: right;
  color: red;
}
/* line 163, assetic_compassKBybsj.scss */
div.comment a.delete {
  float: right;
  background-image: url(/images/icons/bin_inactive.svg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
  width: 16px;
  height: 16px;
}
/* line 174, assetic_compassKBybsj.scss */
div.comment a.delete:hover {
  background-image: url(/images/icons/bin.svg);
}
/* line 179, assetic_compassKBybsj.scss */
div.comment div.body blockquote {
  padding: 1em 1em;
  margin-left: 2.5em;
  margin-bottom: 1em;
  display: block;
  border-left: 5px solid #ccc;
  color: #444444;
  font-style: italic;
}

/* line 192, assetic_compassKBybsj.scss */
body.sidebar div.body {
  padding: 0 0 0 2em;
  margin: 0 0 0 25%;
}
/* line 197, assetic_compassKBybsj.scss */
body.sidebar article.content {
  margin-top: 50px;
  margin-left: 0;
  width: 100%;
  padding: 0%;
  max-width: 700px;
}

/* line 206, assetic_compassKBybsj.scss */
nav.user {
  background-color: #224;
}
/* line 209, assetic_compassKBybsj.scss */
nav.user a {
  color: #9999cc;
}

/* line 214, assetic_compassKBybsj.scss */
nav.sidemenu {
  height: 100%;
  min-height: 100%;
  background-image: url("/images/psc_logo_watermark.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 700px;
  width: 25%;
  float: left;
  display: inline-block;
  padding: 70px 20px 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  -moz-box-shadow: 0 0 5px #111;
  -webkit-box-shadow: 0 0 5px #111;
  box-shadow: 0 0 5px #111;
}
/* line 230, assetic_compassKBybsj.scss */
nav.sidemenu a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
}
/* line 236, assetic_compassKBybsj.scss */
nav.sidemenu a:hover {
  color: #FFD766;
}
/* line 240, assetic_compassKBybsj.scss */
nav.sidemenu a {
  color: white;
}
/* line 244, assetic_compassKBybsj.scss */
nav.sidemenu a.hidden {
  font-style: italic;
  font-weight: normal;
  color: #666;
}
/* line 250, assetic_compassKBybsj.scss */
nav.sidemenu a.current {
  color: #FFD766;
}
/* line 254, assetic_compassKBybsj.scss */
nav.sidemenu ul li {
  margin-left: 1.3em;
  list-style-type: square;
}
/* line 258, assetic_compassKBybsj.scss */
nav.sidemenu ul li a {
  font-size: 1em;
  margin-bottom: 1em;
}
/* line 264, assetic_compassKBybsj.scss */
nav.sidemenu h3 {
  margin: 1em 0 0 0;
  font-size: 1.8em;
  display: block;
}

/* line 272, assetic_compassKBybsj.scss */
form div {
  margin: 1em 0;
}
/* line 275, assetic_compassKBybsj.scss */
form div label {
  display: inline-block;
  width: 18%;
  margin: 0 1% 0 0;
  font-weight: bold;
}
/* line 282, assetic_compassKBybsj.scss */
form div input[type=text] {
  width: 81%;
  margin: 0;
}
/* line 287, assetic_compassKBybsj.scss */
form div button[type=submit] {
  margin: 0 0 0 19%;
}
